$accentColor = #67a4f8 // 主题颜色
$textColor = #f38787                        // 文本颜色
$borderColor = #f38787                      // 边框线颜色
$codeBgColor = #282c34                      // 代码块背景色
$backgroundColor = #cb7373 // 悬浮块背景色
